parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method DateTimeInterface\:\:setTimezone\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Engine/QueryExecutor.php

		-
			message: '#^Method NickPotts\\Slice\\Engine\\QueryExecutor\:\:normalizeJoinValue\(\) should return int\|string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Engine/QueryExecutor.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Metrics/Aggregation.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Metrics/Computed.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Schemas/Dimension.php
